@{
    Layout = "";
}
@using SmartStore.Web.Framework;
<div class="media">
    <img class="media-object img-fluid pr-2" src="@Url.Content("~/Plugins/SmartStore.PayTabs/Content/branding.png")" alt="PayTabs" />
    <div class="media-body">
        @T("Plugins.Payments.PayTabsPayPage.Fields.RedirectionTip")
    </div>
</div>
